extends ../_includes/pug/base.pug

block main
  header
    h1 About
  .content
    p Born in Mexico, raised in New York State. I help make sure websites at the University of Rochester are accessible, performant, and beautiful.
