extends ../_includes/pug/base.pug

block container
  main#main
    .content
      h1 Header 1
      h2 Header 2
      h3 Header 3
      h4 Header 4
      h5 Header 5
      h6 Header 6
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti totam quas quis consequuntur excepturi cupiditate numquam amet soluta, in id distinctio, laborum ea maxime quasi tempora dolorum cum laboriosam labore.
    .content
      h1 Tottenham Hotspur F.C.
      h2 Honours
      h3 Major honours
      h4 Domestic
      h5 Cup competitions
      h6 FA Cup
      p #[strong Tottenham Hotspur Football Club], commonly referred to as #[strong Tottenham] (/ˈtɒtənəm/)#[sup [2]]#[sup [3]] or #[strong Spurs], is an English professional football club in Tottenham, London, that competes in the Premier League. Tottenham Hotspur Stadium has been the club's home ground since April 2019, replacing their former home of White Hart Lane, which had been demolished to make way for the new stadium on the same site. Their training ground is on Hotspur Way in Bulls Cross in the London Borough of Enfield. The club is owned by ENIC Group. Tottenham have played in a first (home) strip of white shirts and navy blue shorts since the 1898–99 season. The club's emblem is a cockerel standing upon a football, with a Latin motto #[em Audere est Facere] ("To Dare Is to Do").
      ul
        li 2012 André Villas-Boas
        li 2013 Tim Sherwood
        li 2014 Mauricio Pochettino
        li 2019 José Mourinho
