extends ../_includes/pug/base.pug

block main
  header
    h1 Workshop
  .content
    p Various things made for fun.
    ul
      li
        a(href="https://luisrosar.io/workshop/20190915.html") 20190915
      li
        a(href="https://luisrosar.io/2019-01-26/") 2019-01-26
      li
        a(href="https://luisrosar.io/2018-12-31/") 2018-12-31
      li
        a(href="https://luisrosar.io/all-work-no-play/") all work, no play
      li
        a(href="https://luisrosar.io/cyan-trip/") Cyan Trip
